@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Rubik/rubikmedium.woff2") format("woff2"),
  url("/fonts/Rubik/rubikmedium.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Rubik/rubikregular.woff2") format("woff2"),
  url("/fonts/Rubik/rubikregular.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

.no-scroll {
  overflow-y: hidden;
}

img {
  display: block;
  /* height: auto; */
}

.container {
  max-width: 1144px;
  /* width: 100%; */
  margin-inline: auto;
  padding-inline: 32px;
}

.site-header {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  /* padding-bottom: 81px; */
  padding-bottom: 40px;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hambur-menu-btn {
  width: 18px;
  height: 15px;
  background-color: transparent;
  background-image: url("/images/hamburgericon.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: transparent;
} 

.site-header__menu-wrap {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;  
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-inline: 33px;
  padding-bottom: 291px;
  opacity: 0.95;
  background-color: #242A45;
  opacity: 0.95;
}

.navbar {
  /* margin-right: 48px; */
  margin-bottom: 24px;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  column-gap: 44px;
  text-align: center;
  row-gap: 24px;
}

.navbar__contact-item {
  
}

.navbar__item {
  width: 309px;
  margin: 0;
  border-top: 1px solid #fff;
  padding-top: 24px;
}

.navbar__link {
  text-decoration-line: none;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 85% */
  letter-spacing: 2.308px;
  text-transform: uppercase;
  margin: 0;
} 

.login-link {
  text-decoration-line: none;
  color: #FFF;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 85% */
  letter-spacing: 2.308px;
  border-radius: 5px;
  border: 2px solid #FFF;
  padding-block: 16px 15px;
  padding-inline: 121px 118px;
}

.show-menu .site-header {
  background-color: #242A45;
}

.show-menu .hambur-menu-btn {
  background-image: url("/images/closeicon.svg"); 
  background-size: 14px 13px;
}

.show-menu .site-header__menu-wrap {
  display: flex;
}


/* .hero {
  background-image: url("/images/rectangle.svg");
  background-repeat: no-repeat;
  width: 577px;
  height: 203px;
  background-position: calc(50% + 100px) calc(50% + 50px);
} */

.hero {
  padding-bottom: 140px;
}

.hero__text-wrap {
  width: 311px;
}

.hero__inner {
}

.hero__mobile-pict {
  position: relative;
  left: -37px;
}

.hero__title {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 133.333% */
  letter-spacing: -0.094px;
  margin-bottom: 16px;
}

.hero__desc {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  margin-bottom: 32px;
}

.hero__link-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__link {
  display: inline-block;
  text-decoration-line: none;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.25px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  padding-block: 10px;
}

.hero__chrome {
  color: #fff;
  background: #5267DF;
  padding-inline: 17px 16px;
}

.hero__firefox {
  color: #242A45;
  background: #F7F7F7;
  padding-inline: 17px;
}






/* feature  */

.feature__text-wrap {
  width: 311px;
}

.feature__title {
  color: #242A45;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px; /* 216.667% */
  letter-spacing: -0.075px;
}

.feature__desc {
  color: #242A45;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

.feature__list  {
  width: 311px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 40px;
}


.feature__item  {
  border-bottom: 1px solid  #495dcf33;
  padding-top: 20px;
  border-top: 1px solid #495dcf33;
  
}


.feature__link  {
  text-decoration-line: none;
  color: #242A45;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 106.25% */
  letter-spacing: 0.533px;
  padding-bottom: 20px;
  border-bottom: 4px solid transparent;
  display: inline-block;
  padding-bottom: 16px;
}

.feature__item:hover {
  border-bottom: 4px solid #FA5959;
  display: inline-block;
}

/* .feature__link:hover {
  border-bottom: 4px solid #FA5959;
  display: inline-block;
  padding-bottom: 16px;
} */

/* section click style  */

.click  {
  padding-top: 73px;
} 


.click__inner {
  
} 


.click__img {
  width: 311px;
  height: 201px;
} 


.click__text-wrap {
  width: 311px;
  margin-top: 69px;
}


.click__title {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px; /* 216.667% */
  letter-spacing: -0.075px;
}


.click__text  {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}

/* section extension style  */

.extension  {
  padding-top: 140px;
}


.extension__inner {
  
}


.extension__text-wrap {
  width: 311px;
}

.extension__title {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px; /* 216.667% */
  letter-spacing: -0.075px;
}

.extension__item {
  width: 280px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
  padding-top: 50px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-inline: auto;
}

.extension__text  {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  margin-bottom: 40px;
}


.extension__list  {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}


.extension__img {
  width: 102px;
  height: 100px;
  margin-inline: auto;
}


.extension__list-title  {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  margin-bottom: 6px;
  margin-top: 33px;
}


.extension__list-text {
  color: #242A45;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  opacity: 0.5;
  margin-bottom: 60px;
}


.extension__list-link {
  display: inline-block;
  text-decoration-line: none;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.25px;
  padding-block: 10px;
  padding-inline: 35px;
  border-radius: 5px;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
}

/* section question styles  */

.question {
  padding-top: 140px;
  padding-bottom: 123px;
}

.question__text-wrap {
  width: 311px;
  margin-bottom: 64px;
}

.question__title {
  margin: 0;
  color: #242A45;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -0.075px;
  margin-bottom: 16px;
}

.question__desc {
  color: #242A45;
  text-align: center;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}

.question__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-inline: auto;
}

.question__link {
  text-decoration-line: none;
  color: #242A45;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 213.333% */
  
}

.question__item {
  border-bottom: 1px solid #E8EAF6;
}

.question__list-link-wrap {
  text-align: center;
  margin-top: 49px;
}

.question__list-link {
  text-decoration-line: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.25px;
  padding-block: 10px;
  padding-inline: 24px;
  border-radius: 5px;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  display: inline-block;
}

/* site footer styles  */

.site-footer {
  background-color: #242A45;
}

.footer__top-wrap {
  background-color: #5267DF;
  padding-block: 60px;
  
}

.footer__text-wrap {
  width: 311px;
  margin-inline: auto;
  text-align: center;
  
}

.footer__span {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 333.333% */
  letter-spacing: 4.615px;
}


.footer__title {
  margin: 0;
  margin-bottom: 32px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.075px;
}

.footer__form-wrap {
  width: 311px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  
}

.footer__email-input {
  color: rgba(36, 42, 69, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.25px;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  width: 311px;
  padding-left: 20px;
  padding-block: 10px;
}

.form__btn {
  margin-top: 16px;
  width: 311px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.25px;
  border-radius: 5px;
  background: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  padding-block: 10px;
  border: none;
}

.footer__bottom-wrap {
  padding-block: 42px;
  width: 148px;
  margin-inline: auto;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none; 
  text-align: center;
  margin-top: 40px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.footer__link {
  text-decoration-line: none;
  color: #FFF;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 113.333% */
  letter-spacing: 1.731px;
}

.footer__app-list {
  display: flex;
  width: 88px;
  list-style-type: none;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-inline: auto;
}


@media only screen and (min-width: 750px) {
  
  .container {
    padding-inline: 20px;
  }
  
  .site-header__menu-wrap {
    display: flex;
    align-items: center;
  }
  
  .site-header {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    /* padding-bottom: 81px; */
    padding-bottom: 40px;
  } 
  
  .site-header__menu-wrap {
    position: static;
    top: auto;
    width: auto;
    left: auto;  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-inline: 0;
    padding-bottom: 0;
    opacity: 0;
    background-color: transparent;
    opacity: 0.95;
  }
  
  .navbar {
    margin-right: 48px;
    margin-bottom: 0;
  }
  
  .navbar__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 44px;
    text-align: center;
    row-gap: 24px;
  }
  
  .navbar__contact-item {
    
  }
  
  .navbar__item {
    width: auto;
    /* margin: 0; */
    border: none;
    padding-top: 0;
  }
  
  .navbar__link {
    color: #242A45;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
    text-transform: none;
    margin: 0;
  } 
  
  .login-link {
    color: #FFF;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
    border-radius: 5px;
    border-color: #FA5959;
    background: #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    padding-block: 12px 11px;
    padding-inline: 34px 32px;
    
  }
      
  .hambur-menu-btn {
    display: none;
  }
  
  .site-header {
    padding-top: 40px;
  }
  
  
  .navbar__link:hover {
    color: #FA5959;
  }
  
  
  
  .hero {
  }
  
  .hero__text-wrap {
    padding-top: 0;
    width: 540px;
  }
  
  .hero__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero__title {
    color: #242A45;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 108.333% */
    letter-spacing: -0.15px;
  }
  
  .hero__link-list {
    display: inline-flex;
    column-gap: 16px;
  }
  
  /* feature  */
  
  .feature__text-wrap {
    width: 540px;
    margin-inline: auto;
  }
  
  .feature__title {
    margin: 0;
    color: #242A45;
    text-align: center;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
  }
  
  .feature__desc {
    margin: 0;
    color: #242A45;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    opacity: 0.5;
  }
  
  .feature__list {
    display: flex;
    width: 730px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-inline: auto;
    margin-top: 72px;
    column-gap: 91px;
    justify-content: space-between;
  }
  
  .feature__item {
    border-top: none;
  }
  
  .feature__link {
    color: #242A45;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 106.25% */
    letter-spacing: 0.533px;
    
  }
  
  .click__img {
    width: 536px;
    height: 346px;
  }
  
  .click__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .click__text-wrap {
    width: 445px;
    margin-top: 0;
  }
  
  .click__title {
    margin-bottom: 16px;
    color: #242A45;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
  }
  
  .click__text {
    color: #242A45;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
  
  
  .extension__text-wrap {
    width: 540px;
    margin-inline: auto;
  }
  
  .extension__title {
    color: #242A45;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }
  
  .extension__text {
    color: #242A45;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }
  
  .extension__list {
    flex-direction: row;
  }
  
  .extension__item:nth-child(2) {
    position: relative;
    top: 68px;
  }
  
  .extension__item:nth-child(3) {
    position: relative;
    top: 128px;
  }
  
  
  /* section question styles  */
  
  .question {
    margin-top: 149px;
    padding-bottom: 150px;
  }
  
  .question__inner {
    width: 540px;
    margin-inline: auto;
  }
  
  
  .question__text-wrap {
    margin-inline: auto;
    width: 540px;
    margin-bottom: 56px;
  }
  
  .question__title {
    color: #242A45;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 162.5% */
    letter-spacing: -0.1px;
  }
  
  
  
  .question__desc {
    color: #242A45;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin: 0;
  }
  
  
  .question__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-inline: auto;
    margin-bottom: 55px;
  }
  
  .question__link {
    text-decoration-line: none;
    color: #242A45;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
  }
  
  .question__item {
    border-top: 1px solid #E8EAF6;
    padding-top: 20px;
    padding-bottom: 13px;
  }
  
  .question__list-link-wrap {
    text-align: center;
  }
  
  .question__list-link {
    text-decoration-line: none;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
    padding-block: 10px;
    padding-inline: 24px;
    border-radius: 5px;
    background: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    
  }
  
  .question__item:last-child {
    border-bottom: 1px solid #E8EAF6;
  }
  
  
  /* site footer styles  */
  
  .site-footer {
    background-color: #242A45;
    
  }
  
  .footer__top-wrap {
    background-color: #5267DF;
    
  }
  
  .footer__text-wrap {
    width: 408px;
    margin-inline: auto;
    padding-top: 58px;
    text-align: center;
  }
  
  .footer__span {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 307.692% */
    letter-spacing: 5px;
    text-align: center;
    /* margin-left: 85px; */
  }
  
  .footer__title {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 24px;
  }
  
  .footer__form {
    display: flex;
    column-gap: 16px;
    padding-bottom: 0;
    align-items: center;
  }
  
  .footer__email-input {
    width: 300px;
    color: rgba(36, 42, 69, 0.25);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
    padding-left: 20px;
    padding-block: 10px;
    border-radius: 5px;
    padding-right: 113px;
    background-color: #FFF;
    border: none;
  }
  
  .form__btn {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
    padding-block: 10px;
    padding-inline: 24px;
    border: none;
    border-radius: 5px;
    background: #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
    /* outline: none; */
    display: inline-flex;
    content: 100%;
    margin-top: 0;
  }
  
  .footer__form-wrap {
    width: 442px;
    margin-inline: auto;
    padding-bottom: 74px;
  }
  
  .footer__bottom-wrap {
    background-color: #242A45;
    padding-block: 36px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .footer__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 48px;
  }
  
  .footer__link {
    text-decoration-line: none;
    color: #FFF;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 130.769% */
    letter-spacing: 1.5px;
  }
  
  .footer__app-list {
    width: 88px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lists-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 65px;
    column-gap: 515px;
  }
  
  .login-link:hover {
    background-color: #FA5959;
    color: #FFF;
  } 
  
}




